{% extends 'base.html' %}

{% block content %}
<div class="col-12 text-center" style="margin-top: 70px;">
    <h2>Login</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    </form>
</div>
{% endblock content %}
