{% extends 'base.html' %}

{% block content %}
<div class="home" style='background: rgba(71, 71, 71); min-height: 100vh;'>
    <div class = "caption text-center">
    {% if user.is_authenticated %}
        <h1>Hello {{ user.username }}</h1>
    {% else %}
        <h1>Hello</h1>
    {% endif %}
        <hr/>
        <h1>Welcome to the Library Online</h1>
    </div>
</div>
{% endblock content %}