{% extends 'base.html' %}
{% load static %}

{% block content %}
<body style="background: #e5dfdf">
    <div class="judul text-center" style="margin-top: 55px;">
        <h1>Cari Buku</h1>
    </div>
    <div id ="books">
        <div class="col-8 offset-2">
            <input id="search" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" style="display: inline;">
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <button id="button" class = "btn btn-outline-info btn-lg align-items-center" 
            type="submit" style="margin-bottom: 20px; margin-top: 20px;">Search</button>
        </div>
    </div>
    <table class="table table-light table-bordered" style="width:100%;">
        <thead class="thead-dark" style="width: 100%">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Gambar</th>
                <th scope="col">Judul</th>
                <th scope="col">Penulis</th>
                <th scope="col">Penerbit</th>
            </tr>
        </thead>
        <tbody class="result align-items-center" id="result" style="width:100%;">
        </tbody>
    </table>
</body>

{% endblock content %}
{% block script %}
    <script src="{% static 'ajax/ajax.js' %}"></script>
{% endblock script %}