{% extends 'base.html' %}

{% load static %}
{% block content %}
<div style="margin-top: 50px;" class="col-12 text-center">
  <h2>Sign up</h2>
  <form method="post" id="form">
    <table style="margin: auto">
    {% csrf_token %}
    {% for field in form %}
      {% if field.errors %}
        <tr><td>{{ field.errors }}</td></tr>
      {% endif %}
      <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
      </tr>
    {% endfor %}
    </table>
    <button type="submit">Sign up</button>
  </form>
</div>
{% endblock content %}