@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: "Montserrat" , sans-serif;
}
/*-- Navbar --*/
.navbar {
    text-transform: capitalize;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(170, 170, 170, 0.6)!important;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link :hover {
    color: gray;
}

.caption {
    margin-top: 50px;
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: capitalize;
}

.caption hr {
    display: block;
    height: 1px;
    border: 1px solid black;
    border-top: 1px solid white;
    margin: auto;
    padding: 0;
    width: 70%;
}